## Hi, I am Panda! Hope you are doing great!
![Panda](img/panda.jpg)

#### Fun apart, what we are going to look at not this panda but pandas which help us a lot in data crunching!
![Pandas](img/pandas.png)

## Let's see why we need Pandas?
* Fast and efficient DataFrame object for data manipulation
* Reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
* Intelligent data alignment and integrated handling of missing data
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Columns can be inserted and deleted
* Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionality

In [3]:
import pandas as pd
import numpy as np

## What are Series?
* It is an array
* It is one-dimensional
* Can store data of any type (Integer, Float, String, Dates etc.)
* Has indexes referring to the axis labels

In [209]:
arr = np.array([1,2,3,4,5])
type(arr)

numpy.ndarray

In [14]:
ser1 = pd.Series(arr)
ser1
# index = np.arange(len(arr))
# select * from sometable where someid = something

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [22]:
ser2 = pd.Series(data=[11,12,13,14,15])
ser2

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [23]:
df1 = pd.DataFrame({'col1':ser1,'col2':ser2})
df1

   col1  col2
0     1    11
1     2    12
2     3    13
3     4    14
4     5    15

In [30]:
team_data = pd.read_csv('data/team.csv')
team_data

                     team_name         team_captain
0          Chennai Super Kings             MS Dhoni
1  Royal Challengers Bangalore          Virat Kohli
2        Kolkata Knight Riders       Dinesh Karthik
3             Rajasthan Royals       Ajinkya Rahane
4          Sunrisers Hyderabad      Kane Williamson
5              Kings XI Punjab  Ravichandran Ashwin
6               Mumbai Indians         Rohit Sharma
7             Delhi Daredevils         Shreyas Iyer

In [34]:
player_data = pd.read_csv('data/iplfinal.csv',sep='|')
player_data
#player.head()
#player_data.tail()

,match_description,match_date,match_venue,match_location,match_result,team_name,innings_order,batsman_name,dismissal_mode,runs,balls,fours,sixes
958,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Carlos Brathwaite,c Rayudu b SN Thakur,21,11,0,3
959,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Shane Watson,not out,117,57,1,8
960,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Faf du Plessis,c & b Sandeep Sharma,10,11,1,0
961,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Suresh Raina,c Goswami b C Brathwaite,32,24,3,1
962,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Ambati Rayudu,not out,16,19,1,1

In [35]:
player_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 13 columns):
match_description    963 non-null object
match_date           963 non-null object
match_venue          963 non-null object
match_location       963 non-null object
match_result         963 non-null object
team_name            963 non-null object
innings_order        963 non-null object
batsman_name         963 non-null object
dismissal_mode       963 non-null object
runs                 963 non-null int64
balls                963 non-null int64
fours                963 non-null int64
sixes                963 non-null int64
dtypes: int64(4), object(9)
memory usage: 97.9+ KB

In [36]:
player_data.describe()

             runs       balls       fours       sixes
count  963.000000  963.000000  963.000000  963.000000
mean    20.516096   14.865005    1.665628    0.937695
std     21.900609   13.289220    1.990187    1.559046
min      0.000000    0.000000    0.000000    0.000000
25%      4.000000    5.000000    0.000000    0.000000
50%     13.000000   11.000000    1.000000    0.000000
75%     31.500000   22.000000    3.000000    1.000000
max    128.000000   70.000000    9.000000   11.000000

In [113]:
# let's see what all information we can fetch from a series
ser3 = player_data['runs']
# ser3.size
# ser3.axes
# ser3.ndim
# ser3.values
ser3.empty

False

In [40]:
player_data.match_venue

0                                  Wankhede Stadium,
1                                  Wankhede Stadium,
2                                  Wankhede Stadium,
3                                  Wankhede Stadium,
4                                  Wankhede Stadium,
5                                  Wankhede Stadium,
6                                  Wankhede Stadium,
7                                  Wankhede Stadium,
8                                  Wankhede Stadium,
9                                  Wankhede Stadium,
10                                 Wankhede Stadium,
11                                 Wankhede Stadium,
12                                 Wankhede Stadium,
13                                 Wankhede Stadium,
14                                 Wankhede Stadium,
15                                 Wankhede Stadium,
16                                 Wankhede Stadium,
17     Punjab Cricket Association IS Bindra Stadium,
18     Punjab Cricket Association IS Bindra Stadium,
19     Punjab Cricket Association IS Bindra Stadium,
20     Punjab Cricket Association IS Bindra Stadium,
21     Punjab Cricket Association IS Bindra Stadium,
22     Punjab Cricket Association IS Bindra Stadium,
23     Punjab Cricket Association IS Bindra Stadium,
24     Punjab Cricket Association IS Bindra Stadium,
25     Punjab Cricket Association IS Bindra Stadium,
26     Punjab Cricket Association IS Bindra Stadium,
27     Punjab Cricket Association IS Bindra Stadium,
28     Punjab Cricket Association IS Bindra Stadium,
29     Punjab Cricket Association IS Bindra Stadium,
                           ...
933                                    Eden Gardens,
934                                    Eden Gardens,
935                                    Eden Gardens,
936                                    Eden Gardens,
937                                    Eden Gardens,
938                                    Eden Gardens,
939                                    Eden Gardens,
940                                    Eden Gardens,
941                                    Eden Gardens,
942                                    Eden Gardens,
943                                    Eden Gardens,
944                                    Eden Gardens,
945                                    Eden Gardens,
946                                    Eden Gardens,
947                                    Eden Gardens,
948                                    Eden Gardens,
949                                    Eden Gardens,
950                                    Eden Gardens,
951                                    Eden Gardens,
952                                Wankhede Stadium,
953                                Wankhede Stadium,
954                                Wankhede Stadium,
955                                Wankhede Stadium,
956                                Wankhede Stadium,
957                                Wankhede Stadium,
958                                Wankhede Stadium,
959                                Wankhede Stadium,
960                                Wankhede Stadium,
961                                Wankhede Stadium,
962                                Wankhede Stadium,
Name: match_venue, Length: 963, dtype: object

In [120]:
# aggregations on a data frame
# player_data.count()
# player_data.sum()
# player_data.mean()
# player_data.median()
# player_data.std()
player_data.max()

match_description    Sunrisers Hyderabad vs Royal Challengers Banga...
match_date                                                  2018-05-27
match_venue                                          Wankhede Stadium,
match_location                                                    Pune
match_result                         Sunrisers Hyderabad won by 9 wkts
team_name                                  Sunrisers Hyderabad Innings
innings_order                                                innings_2
batsman_name                                          Yuzvendra Chahal
dismissal_mode                          st de Kock b Washington Sundar
runs                                                               128
balls                                                               70
fours                                                                9
sixes                                                               11
dtype: object

In [58]:
x = player_data[['match_description','runs']]
type(x)

pandas.core.frame.DataFrame

In [64]:
y = player_data[['runs','sixes']]
type(y)

pandas.core.frame.DataFrame

In [95]:
# fetching data
# player_data.loc[2:4]
# player_data.iloc[2:4]
# player_data.loc[2:4,'match_description':'match_location']
# player_data.loc[player_data['runs']>100,'batsman_name']
# player_data.iat[2,3]

274          Chris Gayle
285         Shane Watson
680    Rishabh Pant (wk)
959         Shane Watson
Name: batsman_name, dtype: object

In [103]:
# setting data
# player_data.loc[0]
player_data.loc[player_data['runs']>100,'runs'] = 200

274    104
285    106
680    128
959    117
Name: runs, dtype: int64

In [104]:
#creating calculated columns
player_data['str_rate'] = player_data['runs']/player_data['balls']

In [107]:
# remove columns 
# del player_data['str_rate']

,match_description,match_date,match_venue,match_location,match_result,team_name,innings_order,batsman_name,dismissal_mode,runs,balls,fours,sixes
0,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Rohit Sharma (c),c Rayudu b Watson,15,18,1,1
1,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Evin Lewis,lbw b D Chahar,0,2,0,0
2,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Ishan Kishan (wk),c Mark Wood b Tahir,40,29,4,1
3,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Suryakumar Yadav,c Harbhajan b Watson,43,29,6,1
4,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Hardik Pandya,not out,22,20,2,0

In [208]:
#working with grouping functions
grp1 = player_data.groupby(['match_location'])
# grp1.groups
# grp1.get_group('Mumbai')
# grp1.runs.agg(np.size)
# grp1.runs.agg(np.median)
# grp1.sixes.agg(np.max)
# grp1.runs.agg(np.std)
# grp1.runs.agg([np.size,np.sum,np.mean,np.median])
# grp1.transform(lambda x:(x-x.mean())/x.std())
grp1.filter(lambda x: x.runs.sum()>=100)

,match_description,match_date,match_venue,match_location,match_result,team_name,innings_order,batsman_name,dismissal_mode,runs,balls,fours,sixes,run_category,boundaries
0,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Rohit Sharma (c),c Rayudu b Watson,15,18,1,1,others,2
1,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Evin Lewis,lbw b D Chahar,0,2,0,0,others,0
2,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Ishan Kishan (wk),c Mark Wood b Tahir,40,29,4,1,others,5
3,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Suryakumar Yadav,c Harbhajan b Watson,43,29,6,1,others,7
4,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Hardik Pandya,not out,22,20,2,0,others,2
5,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Krunal Pandya,not out,41,22,5,2,others,7
6,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Shane Watson,c Lewis b Hardik Pandya,16,14,1,1,others,2
7,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Ambati Rayudu,lbw b Markande,22,19,4,0,others,4
8,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Suresh Raina,c Krunal Pandya b Hardik Pandya,4,6,0,0,others,0
9,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Kedar Jadhav,not out,24,22,1,2,others,3
10,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,MS Dhoni (c & wk),lbw b Markande,5,5,0,0,others,0
11,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Ravindra Jadeja,c Suryakumar Yadav b Mustafizur,12,13,1,0,others,1
12,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Dwayne Bravo,c Rohit b Bumrah,68,30,3,7,half-century,10
13,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Deepak Chahar,st Ishan Kishan b Markande,0,1,0,0,others,0
14,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Harbhajan Singh,c Bumrah b McClenaghan,8,5,1,0,others,1
15,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Mark Wood,c Mustafizur b Hardik Pandya,1,3,0,0,others,0
16,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Chennai Super Kings Innings,innings_2,Imran Tahir,not out,2,2,0,0,others,0
17,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Colin Munro,lbw b Mujeeb,4,6,0,0,others,0
18,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Gautam Gambhir (c),run out (Mujeeb),55,42,5,1,half-century,6
19,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Shreyas Iyer,c Rahul b Axar,11,11,0,1,others,1
20,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Vijay Shankar,c Axar b Mohit Sharma,13,13,0,0,others,0
21,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Rishabh Pant (wk),c Andrew Tye b Mujeeb,28,13,4,1,others,5
22,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Rahul Tewatia,lbw b Ashwin,9,7,1,0,others,1
23,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Chris Morris,not out,27,16,1,1,others,2
24,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Delhi Daredevils Innings,innings_1,Daniel Christian,b Mohit Sharma,13,13,0,1,others,1
25,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Kings XI Punjab Innings,innings_2,Lokesh Rahul (wk),c Shami b Boult,51,16,6,4,half-century,10
26,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Kings XI Punjab Innings,innings_2,Mayank Agarwal,c Shami b Chris Morris,7,5,0,1,others,1
27,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Kings XI Punjab Innings,innings_2,Yuvraj Singh,c Vijay Shankar b Rahul Tewatia,12,22,2,0,others,2
28,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Kings XI Punjab Innings,innings_2,Karun Nair,c Boult b Christian,50,33,5,2,half-century,7
29,"Kings XI Punjab vs Delhi Daredevils, 2nd Match...",2018-04-08,"Punjab Cricket Association IS Bindra Stadium,",Mohali,Kings XI Punjab won by 6 wkts,Kings XI Punjab Innings,innings_2,David Miller,not out,24,23,1,0,others,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Shikhar Dhawan,lbw b Kuldeep Yadav,34,24,4,1,others,5
934,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Kane Williamson (c),c Karthik b Kuldeep Yadav,3,3,0,0,others,0
935,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Shakib Al Hasan,run out (Kuldeep Yadav),28,24,4,0,others,4
936,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Deepak Hooda,c Chawla b Narine,19,19,0,1,others,1
937,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Yusuf Pathan,c Chawla b Shivam Mavi,3,7,0,0,others,0
938,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Carlos Brathwaite,run out (Nitish Rana/Karthik),8,4,0,1,others,1
939,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Rashid Khan,not out,34,10,2,4,others,6
940,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Sunrisers Hyderabad Innings,innings_1,Bhuvneshwar Kumar,not out,5,2,1,0,others,1
941,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Chris Lynn,lbw b Rashid Khan,48,31,6,2,others,8
942,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Sunil Narine,c C Brathwaite b S Kaul,26,13,4,1,others,5
943,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Nitish Rana,run out (Rashid Khan/Saha),22,16,1,2,others,3
944,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Robin Uthappa,b Rashid Khan,2,8,0,0,others,0
945,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Dinesh Karthik (c & wk),b Shakib,8,6,1,0,others,1
946,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Shubman Gill,c Rashid Khan b C Brathwaite,30,20,2,1,others,3
947,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Andre Russell,c Dhawan b Rashid Khan,3,7,0,0,others,0
948,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Piyush Chawla,b S Kaul,12,12,0,1,others,1
949,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Shivam Mavi,c Rashid Khan b C Brathwaite,6,4,1,0,others,1
950,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Kuldeep Yadav,not out,0,3,0,0,others,0
951,"Sunrisers Hyderabad vs Kolkata Knight Riders, ...",2018-05-25,"Eden Gardens,",Kolkata,Sunrisers Hyderabad won by 14 runs,Kolkata Knight Riders Innings,innings_2,Prasidh Krishna,not out,0,0,0,0,others,0
952,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Shreevats Goswami (wk),run out (Karn Sharma/Dhoni),5,5,0,0,others,0
953,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Shikhar Dhawan,b Ravindra Jadeja,26,25,2,1,others,3
954,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Kane Williamson (c),st Dhoni b Karn Sharma,47,36,5,2,others,7
955,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Shakib Al Hasan,c Raina b DJ Bravo,23,15,2,1,others,3
956,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Yusuf Pathan,not out,45,25,4,2,others,6
957,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Deepak Hooda,c (sub)D Shorey b Lungi Ngidi,3,4,0,0,others,0
958,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Sunrisers Hyderabad Innings,innings_1,Carlos Brathwaite,c Rayudu b SN Thakur,21,11,0,3,others,3
959,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Shane Watson,not out,117,57,1,8,century,9
960,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Faf du Plessis,c & b Sandeep Sharma,10,11,1,0,others,1
961,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Suresh Raina,c Goswami b C Brathwaite,32,24,3,1,others,4
962,"Chennai Super Kings vs Sunrisers Hyderabad, Fi...",2018-05-27,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 8 wkts,Chennai Super Kings Innings,innings_2,Ambati Rayudu,not out,16,19,1,1,others,2

In [ ]:
player_data.groupby('match_location',)

In [142]:
def run_category(r):
    if r>=100:
        return 'century'
    elif r>=50 and r<100:
        return 'half-century'
    else:
        return 'others'
    
player_data['run_category'] = player_data.runs.map(run_category)
player_data.loc[:,'runs':]

     runs  balls  fours  sixes  run_category
0      15     18      1      1        others
1       0      2      0      0        others
2      40     29      4      1        others
3      43     29      6      1        others
4      22     20      2      0        others
5      41     22      5      2        others
6      16     14      1      1        others
7      22     19      4      0        others
8       4      6      0      0        others
9      24     22      1      2        others
10      5      5      0      0        others
11     12     13      1      0        others
12     68     30      3      7  half-century
13      0      1      0      0        others
14      8      5      1      0        others
15      1      3      0      0        others
16      2      2      0      0        others
17      4      6      0      0        others
18     55     42      5      1  half-century
19     11     11      0      1        others
20     13     13      0      0        others
21     28     13      4      1        others
22      9      7      1      0        others
23     27     16      1      1        others
24     13     13      0      1        others
25     51     16      6      4  half-century
26      7      5      0      1        others
27     12     22      2      0        others
28     50     33      5      2  half-century
29     24     23      1      0        others
..    ...    ...    ...    ...           ...
933    34     24      4      1        others
934     3      3      0      0        others
935    28     24      4      0        others
936    19     19      0      1        others
937     3      7      0      0        others
938     8      4      0      1        others
939    34     10      2      4        others
940     5      2      1      0        others
941    48     31      6      2        others
942    26     13      4      1        others
943    22     16      1      2        others
944     2      8      0      0        others
945     8      6      1      0        others
946    30     20      2      1        others
947     3      7      0      0        others
948    12     12      0      1        others
949     6      4      1      0        others
950     0      3      0      0        others
951     0      0      0      0        others
952     5      5      0      0        others
953    26     25      2      1        others
954    47     36      5      2        others
955    23     15      2      1        others
956    45     25      4      2        others
957     3      4      0      0        others
958    21     11      0      3        others
959   117     57      1      8       century
960    10     11      1      0        others
961    32     24      3      1        others
962    16     19      1      1        others

[963 rows x 5 columns]

In [147]:
player_data['boundaries'] = player_data.apply(lambda x: x['sixes']+x['fours'],axis=1)
player_data.loc[:,'runs':]

     runs  balls  fours  sixes  run_category  boundaries
0      15     18      1      1        others           2
1       0      2      0      0        others           0
2      40     29      4      1        others           5
3      43     29      6      1        others           7
4      22     20      2      0        others           2
5      41     22      5      2        others           7
6      16     14      1      1        others           2
7      22     19      4      0        others           4
8       4      6      0      0        others           0
9      24     22      1      2        others           3
10      5      5      0      0        others           0
11     12     13      1      0        others           1
12     68     30      3      7  half-century          10
13      0      1      0      0        others           0
14      8      5      1      0        others           1
15      1      3      0      0        others           0
16      2      2      0      0        others           0
17      4      6      0      0        others           0
18     55     42      5      1  half-century           6
19     11     11      0      1        others           1
20     13     13      0      0        others           0
21     28     13      4      1        others           5
22      9      7      1      0        others           1
23     27     16      1      1        others           2
24     13     13      0      1        others           1
25     51     16      6      4  half-century          10
26      7      5      0      1        others           1
27     12     22      2      0        others           2
28     50     33      5      2  half-century           7
29     24     23      1      0        others           1
..    ...    ...    ...    ...           ...         ...
933    34     24      4      1        others           5
934     3      3      0      0        others           0
935    28     24      4      0        others           4
936    19     19      0      1        others           1
937     3      7      0      0        others           0
938     8      4      0      1        others           1
939    34     10      2      4        others           6
940     5      2      1      0        others           1
941    48     31      6      2        others           8
942    26     13      4      1        others           5
943    22     16      1      2        others           3
944     2      8      0      0        others           0
945     8      6      1      0        others           1
946    30     20      2      1        others           3
947     3      7      0      0        others           0
948    12     12      0      1        others           1
949     6      4      1      0        others           1
950     0      3      0      0        others           0
951     0      0      0      0        others           0
952     5      5      0      0        others           0
953    26     25      2      1        others           3
954    47     36      5      2        others           7
955    23     15      2      1        others           3
956    45     25      4      2        others           6
957     3      4      0      0        others           0
958    21     11      0      3        others           3
959   117     57      1      8       century           9
960    10     11      1      0        others           1
961    32     24      3      1        others           4
962    16     19      1      1        others           2

[963 rows x 6 columns]